body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.layered-image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.image-overlay {
    display: none;
}

.my-canvas {
    display: none;
}

.image-base {
    width: 80%;
    height: 80%;
}

.burger-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    height: 74%;
    width: auto;
    filter: sepia(120) brightness(120%);
    opacity: 80%;
}



.button-style {
    background-color: #d2b48c;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

