.cart_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart_content_wrapper {
    margin: 40px 69px 40px;
}

.cart_container_div {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.4s;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.cart_close_wrapper {
    display: flex;
    justify-content: right;
}

.cart_closeNav {
    cursor: pointer;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 34px;
}

#cart_list {
    list-style: none;
}

.cart_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

#cart_header {
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
}

#cart_summary {
    font-size: 34px;
    font-weight: 600;
    line-height: 34px;
}

#cart_no_items {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart_img{
    width: 30px;
    height: 30px;
}

.cart_img:hover {
    width: 32px;
    height: 32px;
}

.cart_img_clear{
    width: 40px;
    height: 50px;
}

.cart_img_clear:hover {
    width: 42px;
    height: 52px;
}
